---
layout: default
title: Halloween Ahoy!
description: This here be a Halloween blog.
---
<h2>About</h2>

<p>Love Halloween? Well, matey, ye'ave come t’ th’ right place. This here be a blog celebratin’ all thin’s Halloween, everyday. Trick <i>arrr</i> treat!</p>

<h3>Recent</h3>

<p>Th’ three most recent posts are down below. Jus’ watch out fer them filthy bilge rats!</p>

<ul>
   <li>
      {% for post in site.posts limit:3 %}
      <article class="summary" itemscope itemtype="https://schema.org/BlogPosting">
         <p itemprop="name headline">
             <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
             <br><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
         </p>
      </article>
      {% endfor %}
   </li>
</ul>

<h3>Social</h3>

<p>We be on <a href="https://www.instagram.com/halloweenahoy/">Instagram</a> n’ <a href="https://twitter.com/halloweenahoy">Twitter</a>. Skewer th’ follow button!</p>

{% include instagram.html clientId="e0435d7238ba410baad70dbef11cf836" userId="15401556411" accessToken="15401556411.e0435d7.64b57cb546fa4dfc8b1fecac7cce183b" %}
