---
layout: default
title: Halloween Ahoy!
description: A blog celebrating Halloween, everyday. Trick arrr treat!
---
<h2>Ahoy!</h2>

<p>Love Halloween? Well, matey, ye'ave come t' th' right place. This here be a blog celebratin' all thin's Halloween, everyday. Trick <i>arrr</i> treat!</p>

<h3>Recent Posts</h3>

<p>Th' three most recent posts are down below. Jus' watch out fer them filthy bilge rats!</p>

<ul>
   <li>
      {% for post in site.posts limit:3 %}
      <article class="summary" itemscope itemtype="https://schema.org/BlogPosting">
         <p itemprop="name headline">
             <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
             <br><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
         </p>
      </article>
      {% endfor %}
   </li>
</ul>

<h3>Social Media</h3>

<p>We be on <a href="https://www.instagram.com/halloweenahoy/">Instagram</a> and <a href="https://twitter.com/halloweenahoy">Twitter</a>. Skewer th' follow button!</p>

{% include instagram.html clientId="ed7b5036b29a48d482376be6c3413d24" userId="260010543" accessToken="260010543.ed7b503.9571dca5a7cb4914b866004d67c96ef0" %}
