--- 
layout: default 
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
 
    <h2 class="name headline" itemprop="name headline">{{ page.title | escape }}</h2>

    <p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time></p>

    <div itemprop="articleBody">
        {{ content }}
    </div>
 
 <div class="share">
  <p><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=halloweenahoy" target="_blank" title="Share this post on Twitter">Tweet</a> / <a href="http://www.facebook.com/sharer.php?s=100&p[url]={{ site.url }}/{{ page.url }}&p[title]={{ page.title }}" target="_blank" title="Share this post on Facebook">Share</a></p>
 </div>

 <div class="tags">
    <p>{% for tag in page.tags %}<a href="{{ site.url }}/tags/#{{ tag | cgi_escape }}" title="Posts tagged {{ tag }}" rel="tag">#{{ tag }}</a>{% unless forloop.last %} / {% endunless %}{% endfor %}</p>
 </div>
 
 <div class="post-nav">
   <p>
    {% if page.previous.url %}
    <a href="{{page.previous.url}}">Older Post ></a>
    {% endif %}
  </p>
  <p>
    {% if page.next.url %}
    <a href="{{page.next.url}}">< Newer Post</a>
    {% endif %}
  </p>
 </div>
 
 <h3>Comments</h3>
 
 {% include talkyard-comments.html %}
 
</article>
