--- 
layout: default 
---

<article class="post" itemscope itemtype="https://schema.org/BlogPosting">

  <p>{% for tag in page.tags %}<a href="{{ site.url }}/tags/#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">#{{ tag }}</a>{% unless forloop.last %} / {% endunless %}{% endfor %}</p>    
   
    <h2 itemprop="name headline">{{ page.title | escape }}</h2>

    <p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time></p>

    <div itemprop="articleBody">
        {{ content }}
    </div>
  
  {% include share-buttons.html %}
  
  <h3>Comments</h3>
  
  {% include talkyard-comments.html %}
  
</article>
